<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Add book</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div th:replace="fragments/errorMessage :: errorMessage"/>

<div class="container">
    <form th:action="@{/books/list}" th:method="get">
        <input type="hidden" name="_method" value="get"/>
        <button class="btn btn-success add-new-margin" type="submit" id="submitButton">Back to list
        </button>
    </form>

    <div class="row">
        <div class="col-md-4 book-prop">
            <label for="bookName">Book:</label>
        </div>
        <div class="col-md-8 book-prop">
            <span id="bookName" th:utext="${form.name}"></span>
        </div>
        <div class="col-md-4 book-prop">
            <label for="authorName">Author:</label>
        </div>
        <div class="col-md-8 book-prop">
            <span id="authorName" th:utext="${form.author.name}"></span>
        </div>
        <div class="col-md-4 book-prop">
            <label for="link">Link:</label>
        </div>
        <div class="col-md-8 book-prop">
            <span id="link" th:utext="${form.link}"></span>
        </div>
        <div class="col-md-12 book-prop">
            <label>Comments:</label>
        </div>
    </div>

    <div class="comment-block">
        <div class="panel-group" th:each="comment : ${comments}">
            <div th:class="${comment.rate < 2} ? 'panel panel-danger' : (${comment.rate >= 2 && comment.rate < 4}
                ? 'panel panel-info' : 'panel panel-success')">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span>
                    <span th:utext="${comment.user}"></span>
                    <form th:action="@{'/comments/delete/{id}?bookId={bookId}'(id=${comment.id},bookId=${form.id})}"
                          th:method="delete">
                        <button class="close" type="submit" id="deleteButton">
                            &times;
                        </button>
                    </form>

                </div>
                <div class="panel-body">
                    <div th:utext="${comment.comment}"></div>
                    <div class="comment-stars">
                        <span th:each="idx:${#numbers.sequence(0, comment.rate - 1)}" class="fa fa-star"
                              th:style="${comment.rate < 2} ? 'color: #a94442;' : (${comment.rate >= 2 && comment.rate < 4}
                            ? 'color: #31708f;' : 'color: #3c763d;')"
                        ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>