<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Authors List</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <form th:action="@{/authors/add}" th:method="get">
        <input type="hidden" name="_method" value="get"/>
        <button class="btn btn-success add-new-margin" type="submit" id="submitButton">Add new author
        </button>
    </form>

    <div class="panel panel-success">
        <div class="panel-heading">Authors List</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Biography</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="author : ${authors}">
                    <td th:utext="${author.id}"></td>
                    <td th:utext="${author.name}"></td>
                    <td th:utext="${author.biography}"></td>
                    <td>
                        <a th:href="@{'/authors/update/{id}'(id=${author.id})}" class="btn btn-warning def-btn-padding"
                           id="updateButton">
                            Update
                        </a>
                    </td>
                    <td>
                        <form th:action="@{'/authors/delete/{id}'(id=${author.id})}" th:method="delete">
                            <input type="hidden" name="_method" value="delete"/>
                            <button class="btn btn-danger def-btn-padding" type="submit" id="deleteButton">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>