<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add author</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div th:replace="fragments/errorMessage :: errorMessage"/>

<div class="container">
    <h3 th:utext="${operation == 'create'} ? 'Add author:' : 'Update entry:'"></h3>

    <form class="col-md-6"
          th:action="${operation == 'create'} ? '/authors/add' : '/authors/update'"
          th:object="${form}" method="POST">
        <div class="form-group" hidden>
            <label for="name">Id:</label>
            <input id="id" class="form-control" type="text" th:field="*{id}"/>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" class="form-control" type="text" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <label for="biography">Biography:</label>
            <textarea id="biography" class="form-control" th:field="*{biography}"></textarea>
        </div>
        <button type="submit" class="btn btn-success"
                th:utext="${operation == 'create'} ? 'Create' : 'Update'"></button>
    </form>

</div>

</body>
</html>