<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Entity List</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h1>Entity List</h1>
    <a th:href="@{/addEntity}">Add new entity</a>
    <br/><br/>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity : ${entities}">
            <td th:utext="${entity.id}">...</td>
            <td th:utext="${entity.name}">...</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>