<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Entity List</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <form th:action="@{/addEntity}" th:method="get">
        <input type="hidden" name="_method" value="get"/>
        <button class="btn btn-success" type="submit" id="submitButton" style="margin-bottom: 10px">Add new entity
        </button>
    </form>

    <div class="panel panel-success">
        <div class="panel-heading">Entity List</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entity : ${entities}">
                    <td th:utext="${entity.id}">...</td>
                    <td th:utext="${entity.name}">...</td>
                    <td>
                        <form th:action="@{'/deleteEntity/{id}'(id=${entity.id})}" th:method="delete">
                            <input type="hidden" name="_method" value="delete"/>
                            <button class="btn btn-danger" type="submit" id="deleteButton" style="padding: 5px;">Delete
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>