<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="row">

        <a href="/authors/add" class="col-md-6 home-block thumbnail">
            <div class="caption">
                <span class="glyphicon glyphicon-user"></span> Add author
            </div>
        </a>
        <a href="/books/add" class="col-md-6 home-block thumbnail">
            <div class="caption">
                <span class="glyphicon glyphicon-book"></span> Add book
            </div>
        </a>

    </div>

</div>

</body>

</html>